* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-height: 100vh;
    background-color: white;
    font-family: "Quicksand";
    background: url("images/background_mathnasium.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 100%; 
}

/* navbar section */
.container .navbar-section nav {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
}

/* navbar formatting */
.container .navbar-section nav .navbar-words {
    width: 74%;
    height: 100px;
    background-color: black;
    display: flex;
    flex-direction: row;
}

/* the mathnasium logo */
.container .navbar-section nav .logo img {
    width: 140px;
    height: auto;
    margin-left: 20px;
    margin-right: 60px;
    margin-top: 15px;
}

/* navbar words */
.container .navbar-section nav .navbar-words {
    display: flex;
}


/* getting list items to go horizontal */
.container .navbar-section nav .navbar-words ul {
    display: flex;
    list-style-type: none;
}

/* a tags in the navbar */
.container .navbar-section nav .navbar-words ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-right: 20%;
}

/* the text getting started etc */
.container .navbar-section nav .navbar-words ul li h4 {
    font-size: 15px;
    margin-top: 30px;
    display: flex;
    margin-right: 60px;
}

/* the text: my center */
.container .navbar-section nav .navbar-words ul li .my-center {
    color: white;
}

/* the assessment button */
.assessment-button {
    width: 200px;
    padding: 10px 20px;
    color: white;
    background-color: rgb(154,18,31);
    cursor: pointer;
    border: none;
    margin-top: 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 55%;
}

/* the flag div */
.flag {
    display: flex;
    background-color: black;
    align-items: center;
    margin-left: 5%;
}

/* img of the flag */
.flag img {
    width: 40px;
    height: 40px;
    
}

/* ========end of navbar========== */

.section_one {
    width: 600px;
    height: 360px;
    background-color: white;
    border-top: 10px solid rgb(230,230,16);
    margin-top: 50px;
    margin-left: 150px;
    opacity: 80%;
}

/* text: top rated k-12 math tutors */
.section_one .window .left-container p {
    font-size: 40px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 20px;
}

/* the text with checkmarks in front */
.window .left-container .text {
    font-size: 15px;
    margin-left: 30px;
    margin-top: 20px;
    color: #454545;
}

/* the button and text div */
.schedule-div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    
}

/* button: schedule free assessment */
.schedule-button {
    margin-bottom: 30px;
    background-color: rgb(154,18,31);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 15px;

}

/* text: already a student? */
.schedule-div h3 {
    margin-top: 8px;
    color: #454545;
    font-size: 20px;
}

/* text: log-in */
.schedule-div a {
    text-decoration: none;
    color: #454545;
}

/* -----------bottom banner------------------- */
.banner-bottom {
    width: 268%;
    background-color: #454545;
    height: 243px;
    margin-top: 62px;
    margin-left: -150px;
}

.banners {
    display: flex;
    justify-content: space-evenly;
}

/* the left divider */
.left-banner {
    /* border: 2px solid orangered; */
    width: 50%;
    height: 243px;

}

/* the horiz. divider between sides */
.horizontal-divider {
    border-right: 2px solid white;
}


/* right-side banner */
.right-banner {
    /* border: 2px solid yellow; */
    width: 50%;
    height: 243px;
}


/* the img of student studying */
.lft-banner img {
    width: 180px;
    height: 180px;
    background-position: center;
    background-position: cover;
    margin-top: 32.5px;
    margin-left: 60px;
}

/* left banner */
.left-banner {
    display: flex;

}

/* the text of left banner */
.left-banner-text {
    color: white;


}

/* text: free math skills... */
.left-banner-text h3 {
    text-align: center;
    margin-top: 20px;
}

/* text: call us today... */
.left-banner-text h5 {
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 40px;

}

/* text: contact us */
.left-banner-text h4 {
    text-decoration: underline;
    margin-top: 40px;
    text-align: end;
    margin-right: 50px;

}

/* -------------start right banner----------- */
.right-banner {
    display: flex;
    flex-direction: column;
}

/* stars */
.star-rating {
    color: yellow;
    margin-left: 40px;
    margin-top: 40px;
}

/* text: K. Hofman */
.reviewers-name {
    color: white;
    margin: 20px 0px 20px 40px;
}

/*  */
.reviewers-name h5 {
    margin-top: 20px;
    margin-right: 20px;
}

/*  */
.reviews h4 {
    text-decoration: underline;
    text-align: end;
    margin-right: 50px;

}

/* -------------section 4 grey banner----------- */
.template4 {
    width: 100%;
    height: 50px;
    background-color: rgb(255,255,255);
    color: #454545;
    margin-top: 300px;
}


.grey-banner {
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    align-items: center;
    margin-top: 20px;
}

/* the text in the banner */
.grey-banner h4 {
    margin-top: 15px;
}

/* =========start section 5 yellow section===== */
/* the template div */
.template5 {
    min-height: 60vh;
    /* border: 2px solid red; */
    background-color: rgb(241,206,122);
    display: flex;
}

/* text: new mathnasium plus */
.section5 h1 {
    color: rgb(196,25,24);
    margin-top: 100px;
    margin-left: 150px;
}

/* text: for high achievers.... */
.section5 h3 {
    margin-left: 150px;
    margin-top: 20px;
}

/* button: discover mathnasium plus */
.section5 .discover {
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgb(154,18,31);
    color: white;
    width: 300px;
    height: 50px;
    border: none;
    margin-left: 150px;
    margin-top: 40px;

}

/* the boy smiling */
.img-boy img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 300px;
    margin-top: 100px;
    border: 2px solid rgb(154,18,31);

}

/* ========start section 6==========  */
.template6 {
    min-height: 90vh;
    border-top: 10px yellow solid;
    background-color: aliceblue;

}

.t6-container {
    display: flex;
    flex-direction: column;

}

/* text: our results */
.t6-text h3 {
    color: darkgray;
    margin-left: 200px;
    margin-top: 40px;
}

/* text: the proof... */
.t6-text h1 {
    margin-left: 200px;

}

/* the 3 circles */
.circles {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
}

